html, body {
    background-color: black;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

div {
    border-radius: 999px;
    position: fixed;

    -webkit-transition: all 3s;
            transition: all 3s;
}

div.animate-out {
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
}
