html, body {
    background-color: black;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

svg circle {
    -webkit-transition: all 3s;
            transition: all 3s;
}

svg circle.animate-out {
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
}
